<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".ui.SessionDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BigBrother" />

        <provider
            android:name=".ReportTask"
            android:authorities="${applicationId}.MINITRUE"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>