<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name="br.com.mrocigno.bigbrother.crash.CrashActivity"
            android:exported="false"
            android:theme="@style/BigBrotherTheme">

            <intent-filter>
                <action android:name="${applicationId}.CRASH_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <provider
            android:name="br.com.mrocigno.bigbrother.crash.CrashTask"
            android:authorities="${applicationId}.MINIPAX"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
