<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".json.JsonViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.BigBrother" />

        <activity
            android:name=".ui.NetworkEntryDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.BigBrother" />

        <provider
            android:name=".NetworkTask"
            android:authorities="${applicationId}.NETWORK"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>