<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/bigbrother_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bigbrother_ic_round_launcher"
        android:supportsRtl="true"
        android:theme="@style/BigBrotherTheme"
        tools:targetApi="31">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.network.NetworkActivity" />

        <activity
            android:name=".ui.report.ReportActivity"
            android:exported="false">

            <intent-filter>
                <action android:name="${applicationId}.REPORT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="report"
                    android:scheme="bigbrother" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.general.OutOfDomainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="out-of-domain"
                    android:scheme="bigbrother" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.general.CustomPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="custom-page"
                    android:scheme="bigbrother" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.compose.ComposableActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="composable"
                    android:scheme="bigbrother" />
            </intent-filter>
        </activity>

        <provider
            android:name=".BigBrotherCustom"
            android:authorities="${applicationId}.SAMPLE"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
