<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".ui.ProxyCreateRuleActivity"
            android:exported="false"
            android:theme="@style/BigBrotherTheme"
            android:windowSoftInputMode="adjustResize" >

            <intent-filter>
                <action android:name="${applicationId}.CREATE_PROXY_RULE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ProxyListRulesActivity"
            android:exported="false"
            android:theme="@style/BigBrotherTheme"
            android:windowSoftInputMode="adjustResize" >

            <intent-filter>
                <action android:name="${applicationId}.LIST_PROXY_RULES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
