<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".json.JsonViewerActivity"
            android:theme="@style/Theme.Sandman"/>

        <activity
            android:name=".crash.CrashActivity"
            android:theme="@style/Theme.Sandman"/>

        <activity
            android:name=".network.NetworkEntryDetailsActivity"
            android:theme="@style/Theme.Sandman"/>
    </application>
</manifest>