# Default ignored files
/shelf/
/workspace.xml
/AndroidProjectSystem.xml
/androidTestResultsUserPreferences.xml
/runConfigurations.xml
/gradle.xml
/*.xml
/misc.xml
/compiler.xml
/deploymentTargetDropDown.xml
/kotlinc.xml
/migrations.xml
/vcs.xml